<%= form_with model: @legal_document, url: legal_document_path, method: :patch do |f| %>

  <div class="field">
    <%= f.label :nature, value: @legal_document.nature %>
    <%= f.hidden_field :nature, value: @legal_document.nature %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.rich_text_area :content, value: @legal_document.content %>
  </div>

  <div class="actions">
    <%= f.submit "Valider" %>
  </div>
<% end %>