<div class='w-60'>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :first_name, value:'Prénom' %><br />
      <%= f.text_field :first_name, autofocus: true, class:'form-control' %>
    </div>

    <div class="field">
      <%= f.label :last_name, value:'Nom' %><br />
      <%= f.text_field :last_name, autofocus: true, class:'form-control' %>
    </div>

    <div class="field">
      <%= f.label :phone_number, value:'Numéro de téléphone' %><br />
      <%= f.text_field :phone_number, autofocus: true, class:'form-control' %>
    </div>

    <div class="field">
      <%= f.label :birth_date, value:'Date de naissance' %><br />
      <%= f.date_select :birth_date, class:'form-control'  %>
    </div>

    <br>

    <div class="field">
      <%= f.label :email, value:'Adresse Mail' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password, value:'Mot de passe' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caractères minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class:'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, value:'Confirmation de mot de passe' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control' %>
    </div>

    <div class="actions pt-10 ml-35 ml-20-auth">
      <%= f.submit "S'inscrire", class:'button-auth' %>
    </div>
  <% end %>
</div>

<div class='w-50 pt-10 centered ml-30-auth'>
  <div>
    <%= link_to "Se connecter", new_session_path(resource_name), class:'link-auth' %>
  </div>
  <div class='ml-35 ml-35-auth'>
    <%= link_to "Mail de confirmation non reçu?", new_confirmation_path(resource_name), class:'link-auth' %>
  </div>
</div>