<%= form_with model: @article, url: admin_articles_path do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.rich_text_area :description %>
  </div>

  <div class="field">
    <%= f.label :category_ids %>
    <%= f.collection_select :category_ids, Category.all, :id, :name, {}, multiple: true %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, Article.statuses.keys %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :delivery_price %>
    <%= f.number_field :delivery_price %>
  </div>

  <div class="field">
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true %>
  </div>

  <div class="actions">
    <%= f.submit "Valider" %>
  </div>
<% end %>
