<div>
  <%= @article.title %>
</div>
<div>
  <%= @article.description %>
</div>
<div>
  <%= @article.price %>
</div>
<% @article.categories.each do |category| %>
  <div>
    <%= category.name %>
  </div>
<% end %>
<div>
  <% (0...@article.images.count).each do |image| %>
    <%= image_tag(@article.images[image].variant(:thumb)) %>
  <% end %>
</div>

  <div>
    <% @article_colors.each do |color| %>
      <div>
        <%= button_to color.name, admin_article_color_path(color, article: @article), method: :delete %>
      </div>
    <% end %>
  </div>

  <div>
    <% @article_sizes.each do |size| %>
      <div>
        <%= button_to size.name, admin_article_size_path(size, article: @article), method: :delete %>
      </div>
    <% end %>
  </div>

  <div>
    <% @article_categories.each do |category| %>
      <div>
        <%= button_to category.name, admin_article_category_path(category, article: @article), method: :delete %>
      </div>
    <% end %>
  </div>

<div>
  <%= link_to 'Modifier', edit_admin_article_path(@article) %>
</div>