<div>
  <%= @article.title %>
</div>
<div>
  <%= @article.description %>
</div>
<div>
  Prix : <%= @article.price %>
</div>

<div>
  <%= @article.category.name %>
</div>

<div>
  <%= image_tag(@article.image.variant(:thumb)) %>
  <br>
</div>

  <div>
    <% @article_colors.each do |color| %>
      <div>
        <%= button_to color.name, admin_article_color_path(color, article: @article), method: :delete %>
      </div>
    <% end %>
  <br>
  </div>

  <div>
    <% @article_sizes.each do |size| %>
      <div>
        <%= button_to size.name, admin_article_size_path(size, article: @article), method: :delete %>
        <%= form_with url: admin_article_size_path(article_size(@article, size)), method: :patch do |f| %>
          Nombre en stock : <%= f.number_field :number, value: article_size(@article, size).number %>
        <% end %>
      </div>
      <br>
    <% end %>
  </div>

<div>
  <%= link_to 'Modifier', edit_admin_article_path(@article) %>
</div>