<%= form_with model: @new_legal_document, url: admin_legal_documents_path, method: :post do |f| %>

  <div class="field">
    <%= f.label :nature %>
    <%= f.select :nature, LegalDocument.natures.keys %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.rich_text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit "Valider" %>
  </div>
<% end %>